<div id="idControleCliente" class="w3-card w3-theme-l5">
	<h1>Controle de Clientes</h1>
	
	<table id="idTabelaClientes" class="w3-table-all w3-hoverable">
		<thead>
			<tr>
				<th>Razão Social</th>
				<th>Nome Fantasia</th>
				<th>Endereço</th>
				<th>Cidade</th>
				<th>Bairro</th>
				<th>Estado</th>
				<th>Contato</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="w3-container">
		<button id="idBotaoCadastro" class="w3-btn w3-round-large w3-theme">Cadastrar novo cliente</button>
	</div>
	<p>Listagem de clientes</p>
</div>